<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" href="/images/weather.png">
    <title>{{title}}</title>
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>
            This website was created by {{name}}.<br>
            The data that is provided to you comes from <a href="https://www.mapbox.com/">mapbox.com</a> and <a
                href="https://openweathermap.org/">openweather.org</a> services.
        </p>
        <p>{{message}}</p>
    </div>
    {{>footer}}
</body>

</html>